{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block header %}
    <h2>Este es un texto de la página de inicio</h2>
{% endblock %}

{% block content %}
    <h2>Hola munnndo desde Django</h2>
    <h3>Con templates</h3>
    <p>
            Texto original: {{ myText }}<br>
            MAYÚSCULAS: {{ myText|upper }}<br>
            Minúsculas: {{ myText|lower }}<br>
            Título: {{ myText|title }}<br>
            Longitud del texto: {{ myText|length }}<br>
            Nro + 10 = {{ myNumber|add:"10" }}<br>
            Lista como string: {{ myList|join:" - " }}<br>
            Primeros 2: {{ myList|slice:":2"|join:", " }}<br>
    </p>
    <ul>
    {% for myItem in myList %}
        <li>
            {{ forloop.counter }} – {{ myItem }}
            {% if myItem == 33 %}
                – Este número es mágico
            {% elif myItem > 50 %}
                – Este número es mayor que 50
            {% elif myItem != 44 %}
                – Este número **NO** es 44
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
    <p>© 2025 Mi Sitio personalizado desde home.html</p>
{% endblock %}