{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block header %}
    <h2>Este es un texto de la página de inicio</h2>
{% endblock %}

{% block content %}
    <h2>Hola munnndo desde Django</h2>
    <h3>Con templates</h3>
    <p>
        {{myText}}
        {{myNumber}}
    </p>
    <ul>
        {% for myItem in myList %}
        <li>
            {{ forloop.counter }} – Valor: {{ myItem }}
            {% if forloop.first %}(Primero){% endif %}
            {% if forloop.last %}(Último){% endif %}
            [Índice: {{ forloop.counter0 }}, Rev: {{ forloop.revcounter }}]
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
    <p>© 2025 Mi Sitio personalizado desde home.html</p>
{% endblock %}